In [4]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
wordsUpper=[]
for word in words:
    wordsUpper.append(word.upper())
print(wordsUpper)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

Crea una nueva lista que contenga 5 o más letras

In [5]:
listFiltered = []
for word in words:
    if len(word)>= 5:
        listFiltered.append(word)
print(listFiltered)

['filling', 'theatre', 'easygoing', 'story', 'island']

Imprime la primera palabra que empiece por 't'

In [7]:
for word in words :
    if word.startswith("t"):
        x= word
        break

print(x)

that

Numeros
Crea una lista que contenga el cuadraro de cada numero entre 1 y 10

In [8]:
listaCuadrados= [numero**2 for numero in list(range(1,10)) ]
print(listaCuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10

In [9]:
listaCuadradosimpar= [numero**2 for numero in list(range(1,10)) if numero%2 != 0 ]
print(listaCuadradosimpar)

[1, 9, 25, 49, 81]

Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000

In [12]:
listaCuadradosMultiplos= [numero**2 for numero in list(range(1,1000)) if numero%8 == 0 ]
print(listaCuadradosMultiplos)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

In [13]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

Cuánta gente hay?

In [15]:
print(f"hay {len(people)} personas")

hay 5 personas

Cuanta gente tiene hijos?

In [16]:
count = 0
for persona in people:
    if persona["n_kids"]:
        count+=1
print(f"{count} personas tienen hijos")

4 personas tienen hijos

Cuantos hijos tienen en total?

In [17]:
count = 0
for persona in people:
    if persona["n_kids"]:
        count+=persona["n_kids"]
print(f"tienen {count} hijos en total")

tienen 10 hijos en total

En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año

In [22]:
nuevaLista =[]
for persona in people:
    if persona["name"].endswith("a"):
        persona["n_kids"]+=1
        nuevaLista.append(persona)
    else : nuevaLista.append(persona)
print(nuevaLista)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]